<footer class="footer">
  <div class="container-fluide pre-footer">
    <div class="container">
      <div class="col-lg-24 col-md-24 col-sm-24">
        <div class="col-lg-24 col-md-24 col-sm-24 pre-footer-tts">
          <div class="col-lg-15 col-md-15 col-sm-15">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row">
                <h4 class="pre-title-one">OTHER USEFUL LINKS</h4>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row">

              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row">

              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row">
              <h4 class="pre-title-four">NEED HELP NOW?</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-24 col-md-24 col-sm-24 pre-footer-cont">
          <div class="col-lg-15 col-md-15 col-sm-15">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row">
                <ul class="pre-menu-one">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Affiliates</a></li>
                  <li><a href="#">Responsible Gaming</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row">
                <ul class="pre-menu-two">
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Switch to Mobile Site</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="row">
                <ul class="pre-menu-three">
                  <li><a href="#">Sitemap</a></li>
                  <li><a href="#">Europe<img src="assets/images/flags/china.png" alt="flag"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row">
              <ul class="pre-menu-four">
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Live Chat</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluide post-footer">
    <div class="col-lg-24 col-md-24 col-sm-24 bg">
      <div class="footer-logo">
        <div class="footer-image"></div>
      </div>
      <h4 class="post-desc">188bet is proud to work with wigan warriors</h4>
    </div>
    <div class="container">
      <div class="post-footer-content">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="row">
            <h5 class="footer-title first">Payment methods</h5>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <h5 class="footer-title second">Contact points</h5>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <h5 class="footer-title third"></h5>
          </div>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="row">
            <div class="foo-desc first">
              Enjoy a hassle-free deposit and withdrawal experience as our payment methods are fast and secured. 188BET supports major payment methods that are available worldwide!
              <div class="logos">
                <span class="circle-logo pay-logo"></span>
                <span class="circle-logo lbt-logo"></span>
              </div>

              <div class="col-lg-24 col-md-24 col-sm-24 logos-top">
                <div class="row">
                  <div class="col-lg-13 col-md-13 col-sm-13">
                    <div class="row">
                      <div class="logos">
                        <h4>SECURITY AND TRUST</h4>
                        <span class="circle-logo s1-logo"></span>
                        <span class="circle-logo s2-logo"></span>
                        <span class="circle-logo s3-logo"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-11 col-md-11 col-sm-11">
                    <div class="row">
                      <div class="logos">
                        <h4>RESPONSIBLE GAMING</h4>
                        <span class="circle-logo r1-logo"></span>
                        <span class="circle-logo r2-logo"></span>
                        <span class="circle-logo r3-logo"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <div class="foo-desc second">
              <div class="contact-block">
                <div class="location">
                  <div class="loc-title">Asia</div>
                  <div class="loc-container">
                    <div class="phone">Phone: +3852 5808 3608</div>
                    <div class="fax">Fax: +3852 3010 4015</div>
                  </div>
                </div>
                <div class="location">
                  <div class="loc-title">Euro</div>
                  <div class="loc-container">
                    <div class="phone">Phone: +3852 5808 3608</div>
                    <div class="fax">Fax: +3852 3010 4015</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-24 col-md-24 col-sm-24">
                <div class="row">
                  <div class="logos">
                    <h4 class="social-title">Social media</h4>
                    <div class="square first-social"></div>
                    <div class="square second-social"></div>
                    <div class="square third-social"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <div class="foo-desc third">
              <div class="square fourth-social"></div>
              <span>support-en@188service.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-24 col-md-24 col-sm-24 copyright">
      <div class="copy-content first-line">
        188BET is a Registered Trade Mark, brand and registered business name, owned by Cube Limited. Ground Floor, St George’s Court, Upper Church Street, Douglas, Isle of Man, IM1 1EE
      </div>
      <div class="copy-content second-line">
        Regulated & Licensed since 31/08/2007 (Last Renewal: 31/08/2012) by Isle of Man, British Isles Copyright © 2016 188BET
      </div>
    </div>
  </div>
</footer>
