@media (max-width: 1800px) and (min-width: 1366px) {
    .right-cont {
        .bets-container{
            &.prematch {
                .bets-row {
                    & > div {
                        &:first-child {
                            padding-right: 60px;
                            span {
                                padding-left: 14px;
                            }
                            strong {
                                padding-left: 14px;
                            }
                        }

                        &:last-child {
                            padding-right: 60px;
                            span {
                                padding-left: 14px;
                            }
                            strong {
                                padding-left: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1700px) {
    .main-content {
        .content-container {
            .main-conntent {
                .match-table {
                    .schedule {
                        .table {
                            & > tbody {
                                & > tr {
                                    & > td {
                                        padding: 2px 1px;
                                        letter-spacing: -.7px;
                                        &:first-child {
                                            padding-left: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #group-stage-collapse {
                        .table {
                            & > tbody {
                                & > tr {
                                    & > td {
                                        padding: 2px 0;
                                        letter-spacing: -.7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1366px) and (max-width: 1600px) {
    .main-content {
        .content-container {
            .main-conntent {
                .right-cont {
                    padding-left: 25px;
                }
            }
        }
    }

    .left-cont {

        .final-team-scores {
            font-size: .7em;
            .final-score-vs {
                font-size: 1.5em !important;
            }
            img {
                width: 53px;
                height: 28px;
                margin: 10px 4px;
            }
        }

        .recent-performance {
            .past-enc-results {
                .home-opps {
                    width: calc(100% - 12px);
                }
                .guest-opps {
                    width: 100%;
                    padding-left: 15px;
                }
            }

            .performance-info {
                .game-info {
                    .past-enc {
                        display: none;
                    }
                }
            }

            .past-encounters-graphs {
                &.match-chart {

                    //  Conflict lol page

                    .graph-cont-left {
                        width: calc(100% - 9px);
                    }
                    .past-score-cont {
                        width: calc(100% - 30px);
                        display: -webkit-flex;
                        position: relative;
                        margin-top: 2px;
                        display: flex;
                        left: 15px;
                        .past-score {
                            flex-grow: 1;
                            margin-right: 1px;
                            -webkit-flex-grow: 1;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    .graph-cont-right {
                        width: calc(100% - 8px);
                        position: relative;
                        left: 9px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1365px) {
    .main-content {
        .content-container {
            .main-conntent {

                .match-right-cont {
                    padding-left: 15px;
                }

                .match-table {
                    .table {
                        & > tbody {
                            & > tr {
                                & > td {
                                    &:last-child {
                                        padding-right: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .playoffs {
        img {
            height: 14px;
        }
    }
}

@media (max-width: 992px) {
    .main-content {
        .content-container {
            .main-conntent {
                .right-custom-grid{
                    &.match-right-cont {
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .left-cont {
        .featured-promotions {
            width: 100%;
            margin-left: 0;
            & > div {
                padding: 0;
            }
        }

        .recent-performance {
            overflow: hidden;
            width: 100%;
            margin-left: 0;
            & > div {
                padding: 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .right-cont {
        h4 {
            &.box-subheading {
                padding: 8px 30px;
            }
        }

        .bets-container {
            
            .game-running {
                margin-top: 3px;
                font-size: .8em;
                width: 216px;
            }

            .text-center {
                font-size: .8em;
            }

            .text-right {
                font-size: .8em;
            }

            &.prematch {
                .bets-row {
                    & > div {
                        &:first-child {
                            padding-right: 10px;
                        }
                        &:last-child {
                            padding-right: 14px;
                        }
                    }
                }
            }
        }
    }

    .left-cont {
        .final-team-scores {
            font-size: .7em;
            .final-score-vs {
                font-size: 1.5em !important;
            }
            img {
                width: 53px;
                height: 28px;
                margin: 10px 4px;
            }
        }

        .recent-performance {
            .performance-info {
                .game-info {
                    .past-enc {
                        display: none !important;
                    }
                }
            }
            .past-encounters-graphs {
                .home-opps {
                    width: calc(100% - 15px);
                    padding-right: 0;
                }

                .guest-opps {
                    width: calc(100% - 15px);
                    padding-left: 15px;
                    padding-right: 0;
                }

                &.match-chart {
                    .graph-cont-left {
                        width: calc(100% - 9px);
                    }
                    .past-score-cont {
                        width: calc(100% - 30px);
                        display: -webkit-flex;
                        position: relative;
                        margin-top: 2px;
                        display: flex;
                        left: 15px;
                        .past-score {
                            flex-grow: 1;
                            margin-right: 1px;
                            -webkit-flex-grow: 1;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    .graph-cont-right {
                        width: calc(100% - 8px);
                        position: relative;
                    }
                }
            }
        }
    }
}